{% extends "layout"%}
{% block content %}
<div id="wrapper">
    <div class="container">
        {% if not currentUser %}
        <div class="text-center"><h1>Please login to get started</h1></div>
        {% else %}
        <h2> New Note </h2>
{% if old('errors') %}
<div class="panel panel-danger">
    <div class="panel-heading">Errors</div>
    <div class="panel-body">
            <ul>
                {% for error in old('errors') %}
                <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
    </div>
</div>
{% endif %}
        <form class="form-horizontal" method="post">
            {{ csrfField }}
            <fieldset>
                <div class="form-group">
                <label for="name"  class="col-xs-3 col-sm-2 col-md-2 col-lg-3 control-label">Note Name</label>
                <div class="col-xs-9 col-sm-10 col-md-10 col-lg-9">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Note name" value="{{old('name')}}">
                </div>
                </div>
                <div class="form-group">
                <label for="content" class="col-xs-3 col-sm-2 col-md-2 col-lg-3 control-label">Content</label>
                <div class="col-xs-9 col-sm-10 col-md-10 col-lg-9">
                    <textarea class="form-control" rows="10" id="content" name="content">{{old('content')}}</textarea>
                </div>
                </div>
                <div class="form-group">
                <div class="col-xs-9 col-sm-10 col-md-10 col-lg-9 col-xs-offset-3 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/notes"><button type="button" class="btn btn-default">Cancel</button></a>
                </div>
                </div>
                <!--<input type="text" id="user_id" name="user_id" hidden/>-->
            </fieldset>
        </form>
        {% endif %}
    </div>
</div>


{% endblock %}