{% extends "layout" %}

{% block content %}
<div id="wrapper">
    <div class="container">
        {% if not currentUser %}
        <div class="text-center"><h1>Please login to get started</h1></div>
        {% else %}
        <div class="panel panel-default">
            <div class="<panel-heading>">

            </div>
            <div class="panel-body">

            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}