{% extends "layout" %}

{% block content %}
<div class="container">
  
    {% if not currentUser %}
    <div class="row">
        <p>Please login to get started</p>
    </div>
    {% else %}
    <div class="panel panel-default">
        <div class="<panel-heading>">

        </div>
        <div class="panel-body">

        </div>
    </div>
    {% endif %}
</div>
{% endblock %}